---
import Container from "@/components/Container.astro";
import PublicationArrowCard from "@/components/PublicationArrowCard.astro";
import { PROJECTS } from "@/consts";
import PageLayout from "@/layouts/PageLayout.astro";

import { getCollection } from "astro:content";

const publications = (await getCollection("publications")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Publications
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          publications.map((pub) => (
            <li>
              <PublicationArrowCard entry={pub} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
