---
import Container from "@/components/Container.astro";
import PublicationArrowCard from "@/components/PublicationArrowCard.astro";
import { PROJECTS } from "@/consts";
import PageLayout from "@/layouts/PageLayout.astro";

import { getCollection } from "astro:content";

const publications = (await getCollection("publications")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div
        class="animate font-bold text-2xl text-black dark:text-white py-1 px-5 bg-neo-pink dark:bg-neo-pink border-2 border-black dark:border-white rotate-[-0.5deg] inline-block"
      >
        Publications
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          publications.map((pub) => (
            <li>
              <PublicationArrowCard entry={pub} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
