---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="neo-button relative group inline-flex items-center pl-7 pr-3 py-1.5 rotate-[-0.5deg] hover:rotate-0"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute left-2 size-4 stroke-2 fill-none stroke-current"
  >
    <polyline points="12 5 5 12 12 19"></polyline>
  </svg>
  <div class="text-sm font-bold ml-1">
    <slot />
  </div>
</a>
