---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props {
  text: string;
  href: string;
  icon?: string;
  class?: string;
  target?: HTMLAttributes<"a">["target"];
}

const props = Astro.props;
---

<a
  href={props.href}
  target={props.target || "_blank"}
  class:list={[
    "neo-button inline-flex items-center font-bold rotate-[0.5deg] hover:rotate-0",
    props.class,
  ]}
>
  <span class="mr-2">{props.text}</span>
  {props.icon && <Icon name={props.icon} class="inline" />}
</a>
