---
import { cn } from "@/lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  class_?: string;
};

const { href, external, class_, underline = true, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block font-bold text-current transition-all duration-200",
    class_,
    underline &&
      "border-b-2 border-black dark:border-white hover:bg-neo-yellow dark:hover:bg-neo-dark-blue"
  )}
  {...rest}
>
  <slot />
</a>
