---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"publications">["data"];

const { title, link } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={title} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
      .paper-link {
        display: flex;
        justify-content: center;
        margin: 1.5em 0;
      }
    </style>
  </head>

  <body>
    <article>
      <div class="animate">
        <slot />
        {
          link && (
            <div class="paper-link">
              <a
                href={link}
                target="_blank"
                rel="noopener"
                class="relative group flex items-center px-5 py-2 font-bold 
                       bg-white dark:bg-zinc-900
                       border-3 border-black dark:border-white
                       shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] dark:shadow-[4px_4px_0px_0px_rgba(255,255,255,1)]
                       hover:translate-x-[3px] hover:translate-y-[3px]
                       hover:shadow-none
                       transition-all duration-200 ease-in-out"
              >
                <span class="text-sm mr-2 font-medium">View Full Paper</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="size-4 stroke-2 fill-none stroke-current"
                >
                  <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                  <polyline points="15 3 21 3 21 9" />
                  <line x1="10" y1="14" x2="21" y2="3" />
                </svg>
              </a>
            </div>
          )
        }
      </div>
    </article>
  </body>
</html>
